.App-header .target:hover {
  fill: #5757de;
}

.target.checked {
  fill: blue;
}

.target.checked2{
  fill:rgb(195, 0, 255);
}

.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.25;
}

.st1 {
  fill: #fafaac;
}

.st2 {
  fill: #ffe680;
}

.st3 {
  fill: #ffe680;
  stroke: #ffffff;
  stroke-width: 0.25;
}

.st4 {
  fill: #d40000;
}

.st5 {
  fill: none;
  stroke: #78ff21;
  stroke-width: 0.25;
}

.st6 {
  fill: #ff212c;
}

.st7 {
  fill: #d40000;
  stroke: #ffffff;
  stroke-width: 0.25;
}

.st8 {
  fill: #33f105;
}

.st9 {
  fill: #00aa00;
  stroke: #ffffff;
  stroke-width: 0.25;
}

.st10 {
  fill: #ffffff;
}

.st11 {
  font-family: "NirmalaUI-Bold";
}

.st12 {
  font-size: 36px;
}

.st13 {
  fill: none;
}

.st14 {
  fill: #fcfcfc;
}
